<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    {% load static %}
    <title>Postuler pour une formartion</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href=" {% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/templatemo-edu-meeting.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/owl.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/lightbox.css' %} ">
<!--



-->
  </head>

<body>

   

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>L'assurance D'une Insertion Professionelle</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo d-flex align-items-center">
                        <div class="col-auto pr-0">
                          <img src="{% static 'assets/images/logoskill.png' %}" alt="INSTITUT SKILL" height="50px" width="50px">
                        </div>
                        <div class="col-auto px-4" style="font-weight: 500;">
                          <span>INSTITUT SKILL</span>
                        </div>
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                        <li class=""><a href=" {% url 'home' %} " >Home</a></li>
                        <li class=""><a href="{% url 'home' %}">Postuler</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)" class="active">Module</a>
                            <ul class="sub-menu">
                                <li><a href=" {% url 'formationNormal' %} ">Tous</a></li>
                                <li><a href=" {% url 'formationCarte' %} ">A la carte</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="{% url 'home' %}">Formation</a></li> 
                        <li class=""><a href="{% url 'home' %}">Contact</a></li>
                        <li><a href=" {% url 'login_user' %} ">login</a></li> 
                    </ul>       
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Merci! d'avoir choisi Skill</h6>
          <h2>ICI C'EST CHEZ VOUS</h2>
        </div>
      </div>
    </div>
  </section>







  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="down-content">
                  <a href=""><h4>Commençons rapidement et facilement.</h4></a>
                  <p>Tout d'abord, vous devrez préparer les documents suivants à télécharger dans la section de téléchargement ci-dessous.</p>
                  <p>
                    <span class="text-danger">Notez que l'original de chaque document énuméré ci-dessous doit être scanné clairement et doit faire moins de 5 Mo.</span>
                    Si vous avez des difficultés avec la taille du fichier, utilisez ce compresseur de fichiers ici pour compresser votre fichier.
                    <br>
                    <a target="_blank" href="https://www.ilovepdf.com/compress_pdf" class="btn btn-sm btn-outline-success"> compresseur</a>
                    <ol class="pt-4">
                      <li><p>1) Votre acte de naissance</p></li>
                      <li><p>2) Votre carte nationale d'identité ou autre pièces d'identité</p></li>
                      <li><p>3) Votre diplôme le plus récent</p></li>
                      <li><p>4) La fiche de preinscription que vous allez telechargez ici. Remplissez la et signez en la fin.  <a target="_blank" href=" {% static 'fiche-inscription-skill.pdf' %} " class="btn btn-sm btn-outline-primary mx-2" download> télécharger</a></p></li>
                    </ol>
                  </p>
                  <h4 class="mt-4">JE SUIS PRET</h4>
                  <div>





                    <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        {{file.as_p}}
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                        <label class="form-check-label" for="exampleCheck1">J'accepte de recevoir des information de Skill par email ou sms</label>
                      </div>
                      <br>
                      <div class="form-check">
                        <label for="captu"> Vérifions que vous n'êtes pas un robot. Entrez le résultat de l'opération ci-dessous.</label>
                        <br>
                        <div class="">
                          {% if messages %}
                            <ul class="messages">
                              {% for message in messages %}
                                <li{% if message.tags %} class="text-danger"{% endif %}>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </div>
                        <h5>{{captcha}}</h5>
                      </div>
                      <button type="submit" class="btn btn-warning">Envoyer</button>
                    </form>

                  </div>

                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>













  <div class="footer">
    <p>Copyright © 2023 SKILL INSTITUT, Ltd. All Rights Reserved. 
        <br>Design: <a href="https://www.linkedin.com/in/saah-brice" target="_parent">SaahBrice</a></p>
  </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src=" {% static 'vendor/jquery/jquery.min.js' %} "></script>
  <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

  <script src=" {% static 'assets/js/isotope.min.js' %} "></script>
  <script src=" {% static 'assets/js/owl-carousel.js' %} "></script>
  <script src=" {% static 'assets/js/lightbox.js' %} "></script>
  <script src=" {% static 'assets/js/tabs.js' %} "></script>
  <script src=" {% static 'assets/js/video.js' %} "></script>
  <script src=" {% static 'assets/js/slick-slider.js' %} "></script>
  <script src=" {% static 'assets/js/custom.js' %} "></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>
