<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    {% load static %}
    <title>Skill Intitut de formation professionelle</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href=" {% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/templatemo-edu-meeting.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/owl.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/lightbox.css' %} ">
<!--



-->
  </head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>L'assurance D'une Isertion Professionelle</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="#" class="logo d-flex align-items-center">
                        <div class="col-auto pr-0">
                          <img src="{% static 'assets/images/logoskill.png' %}" alt="INSTITUT SKILL" height="50px" width="50px">
                        </div>
                        <div class="col-auto px-4" style="font-weight: 500; font-size: medium;">
                          <span>INSTITUT SKILL</span>
                        </div>
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#apply">Postuler</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Module</a>
                              <ul class="sub-menu">
                                  <li><a href=" {% url 'formationNormal' %} ">Tous</a></li>
                                  <li><a href=" {% url 'formationCarte' %} ">A la carte</a></li>
                              </ul>
                          </li>
                          <li class="scroll-to-section"><a href="#courses">Formation</a></li> 
                          <li class="scroll-to-section"><a href="#contact">Contact</a></li>
                          <li><a href=" {% url 'login_user' %} ">login</a></li> 
                      </ul>        
                      <a class="menu-trigger">
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src=" {% static 'assets/images/course-video.mp4' %} " type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6>Hello Students</h6>
              <h2>INSTITUT DE FORMATION PROFESSIONELLE SKILL</h2>
              <p>L'Institut Skill est un centre de formation professionnelle de premier plan au Cameroun, proposant des programmes de formation de 
                <a rel="nofollow" href="" > haute qualité </a>
                dans divers secteurs. Nous offrons des formations 
                <a rel="nofollow" href="" > pratiques et adaptées </a>
                aux besoins du marché du travail, afin de garantir que nos étudiants soient prêts à relever les défis de l'emploi.</p>
              <div class="main-button-yellow py-3">
                  <div class="scroll-to-section"><a href="#apply">Postuler Aujourd'hui!</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
          
            <div class="item">
              <div class="icon">
                <img src=" {% static 'assets/images/service-icon-01.png' %} " alt="">
              </div>
              <div class="down-content">
                <h4>Formation de Qualité</h4>
                <p>Notre formation est adaptée aux capacités de chaque apprenant.
                   Nous souttenons chaque étudiant dès le début de sa formation jusqu'à ce qu'il obtienne un emploi.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src=" {% static 'assets/images/service-icon-02.png' %} " alt="">
              </div>
              <div class="down-content">
                <h4>Formateurs Qualifiés et Expérimentés</h4>
                <p>Nos formateurs viennent de différentes régions du Cameroun.
                   Vous serez formé(e) soit par des propriétaires d'entreprises,
                    soit par des employés de grandes entreprises renommées.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src=" {% static 'assets/images/service-icon-03.png' %} " alt="">
              </div>
              <div class="down-content">
                <h4>Laboratoire équipé et aux normes requises.</h4>
                <p>Nos laboratoires sont suffisamment équipés pour accueillir un grand nombre d'étudiants
                   par session. Ils sont toujours ouverts et chaque étudiant peut expérimenter ou mener
                    des recherches à tout moment.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src=" {% static 'assets/images/service-icon-02.png' %} " alt="">
              </div>
              <div class="down-content">
                <h4>Cours en Présentiel et en Ligne</h4>
                <p>Nos cours sont diversifiés. Alors que la plupart des cours ont lieu dans nos
                   installations modernes, certains sont dispensés en ligne et une connexion Internet
                    est fournie à chaque étudiant.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src=" {% static 'assets/images/service-icon-03.png' %} " alt="">
              </div>
              <div class="down-content">
                <h4>Possibilité de Bourse</h4>
                <p>Les meilleurs étudiants ont la possibilité d'obtenir une bourse pour leur deuxième semestre.
                   Cela inclut le remboursement de la deuxième tranche des frais de scolarité et une possibilité d'emploi direct à la fin de la formation.</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Journale Scolaire</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Journaux par Categorie</h4>
            <ul>
              <li><a href="#">Le Campus Scolaire</a></li>
              <li><a href="#">Pris dans les Laboratoire</a></li>
              <li><a href="#">La Apprenants</a></li>
              <li><a href="#">Les Enseignant</a></li>
              <li><a href="#">Communiquez du Directeur</a></li>
            </ul>
            <div class="main-button-red">
              <a href="meetings.html">Tout Lire</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>article</span>
                  </div>
                  <a href="meeting-details.html"><img src=" {% static 'assets/images/meeting-00.jpg' %} " alt="New Lecturer Meeting"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Jul <span>01</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Un stagiare exceptionnel </h4></a>
                  <p>M. Nathaneal, étudiant dans le département de maintenance informatique ... <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#myModal">
                    lire plus </button></p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>journal</span>
                  </div>
                  <a href="meeting-details.html"><img src="{% static 'assets/images/meeting-020.jpg' %}" alt="Online Teaching"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Jul <span>05</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Prix du Prefet de Dschang</h4></a>
                  <p>"C'est avec le plus grand plaisir et la plus grande joie que nous avons reçu le premier prix lors du défilé du jour du travail ...
                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#myModal">
                      lire plus </button>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>article</span>
                  </div>
                  <a href="meeting-details.html"><img src="{% static 'assets/images/meeting-003.jpg' %}" alt="Higher Education"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Mar <span>26</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Les riques du travail</h4></a>
                  <p>Aucun emploi n'est sûr et personne ne peut se vanter de sa sécurité. Cependant, il est très important de 
                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#myModal">
                      lire plus </button>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>Enseignent</span>
                  </div>
                  <a href="meeting-details.html"><img src="{% static 'assets/images/meeting-04.jpg' %}" alt="Student Training"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Jan <span>30</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Une Sountenance reussi</h4></a>
                  <p>Oui!!! Il était temps. Temps de réussir à nouveau. Temps de briller et de se défendre avec brio.
                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#myModal">
                      lire plus </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3>POSTULEZ POUR UNE FORMATION</h3>
                <p>Nous sommes fiers de notre engagement envers l'excellence académique et professionnelle, et sommes convaincus que notre formation aidera nos étudiants à atteindre leurs objectifs de carrière.</p>
                <div class="main-button-yellow">
                  <div class=""><a href=" {% url 'apply' %} ">POSTULER</a></div>
              </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h3>POSTULEZ POUR UNE FORMATION SUR MESURE</h3>
                <p>Nous sommes heureux que vous nous ayez choisis pour vous accompagner. Tout est prêt pour vous.</p>
                <div class="main-button-red">
                  <div class=""><a href=" {% url 'carte' %} ">POSTULER</a></div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordions is-first-expanded">
            <article class="accordion">
                <div class="accordion-head">
                    <span>A PROPOS DE NOUS</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>
                          L'institut Skill est une école professionnelle de premier plan dédiée à la fourniture d'une éducation et d'une formation pratiques pour le marché du travail d'aujourd'hui. Nos instructeurs expérimentés et nos installations de pointe garantissent que nos étudiants reçoivent la meilleure formation possible.
                          <br>
                          Situé dans le bâtiment Pharmacie de la Menou à Dschang, au Cameroun, Skill est dirigé par un directeur humble et dévoué, M. Nsanou, qui veille à un fonctionnement constant et sans heurts de la formation.
                          <br>
                          Nous sommes fiers du succès de nos diplômés, qui ont réussi à trouver des carrières enrichissantes dans une variété d'industries. Notre réseau d'anciens élèves est solide et favorable, et nous encourageons nos diplômés à rester en contact avec nous et les uns avec les autres.
                        </p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>NOTRE MISSION</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Nous nous engageons à offrir à nos étudiants un environnement d'apprentissage favorable et stimulant. Nous croyons que chaque étudiant a le potentiel de réussir, et nous travaillons étroitement avec chaque individu pour les aider à atteindre leurs objectifs. Que vous débutiez dans votre carrière ou que vous cherchiez à améliorer vos compétences, nous sommes là pour vous aider à chaque étape du chemin.</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>PAROLE DU DIRECTEUR</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Je suis heureux de vous accueillir à Skill, notre école professionnelle dédiée à fournir une éducation et une formation pratiques pour vous aider à réussir dans votre carrière. Nous sommes fiers de nos programmes de qualité, enseignés par des instructeurs expérimentés, qui sont des experts dans leur domaine.
                          Nous sommes là pour vous aider à chaque étape du chemin. Merci de faire partie de la famille Skill.
                        </p>
                    </div>
                </div>
            </article>
            <article class="accordion last-accordion">
                <div class="accordion-head">
                    <span>PAROLE 'UN ETUDIANT</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Je suis tellement reconnaissant d'avoir choisi Skill Institute pour poursuivre mes études et ma formation professionnelle. Les instructeurs sont incroyablement compétents et dévoués, et les installations sont équipées des dernières technologies pour offrir une expérience d'apprentissage immersive. Je me sens soutenu et encouragé à chaque étape de mon parcours éducatif, et je suis confiant que je serai bien préparé pour réussir dans ma carrière. Je suis fier de faire partie de cette communauté dynamique de professionnels en devenir.
                          <br>
                          <br>
                          Tsafack Belvanie
                        </p>
                    </div>
                </div>
            </article>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>NOS MODULES</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <img src=" {% static 'assets/images/course1.jpg' %} " alt="Course One">
              <div class="down-content">
                <h4>GRAPHISME DE PRODUCTION</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>Module</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/course2.jpg' %}" alt="Course Two">
              <div class="down-content">
                <h4>ENERGIE RENOUVELABLE</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>Module</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/course3.jpg' %}" alt="">
              <div class="down-content">
                <h4>MAINTENANCE INFORMATIQUE</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>Module</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/course4.jpg' %}" alt="">
              <div class="down-content">
                <h4>MAINTENANCE RESEAU</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>Module</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/course5.jpg' %}" alt="">
              <div class="down-content">
                <h4>SECRETARIAT BUREAUTIQUE</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>Module</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/course6.jpg' %}" alt="">
              <div class="down-content">
                <h4>SECRETARIAT DE DIRECTION</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>Module</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/course7.jpg' %}" alt="">
              <div class="down-content">
                <h4>COMPTABILITE et GESTION</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>Module</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/course8.jpg' %}" alt="">
              <div class="down-content">
                <h4>MENUISERIE</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>Module</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/course9.jpg' %}" alt="">
              <div class="down-content">
                <h4>COUTURE</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>Module</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/course10.jpg' %}" alt="">
              <div class="down-content">
                <h4>TOPOGRAPHIE</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>Module</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/course11.jpeg' %}" alt="">
              <div class="down-content">
                <h4>MARKETING DIGITAL</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>Module</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/course12.jpg' %}" alt="">
              <div class="down-content">
                <h4>FORMATION A LA CARTE</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>CARTE</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>QUELQUE FAITS</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">94</div>
                    <div class="count-title">Trouve un emploie</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">12</div>
                    <div class="count-title">Salle de cours et Laboratoire</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">15</div>
                    <div class="count-title">Enseignant Qualifiés</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">112</div>
                    <div class="count-title">Etudiants</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="" target="_blank">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d515.1157539010421!2d10.06069912805557!3d5.447878715146615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2scm!4v1688922891394!5m2!1sen!2scm" width="405" height="350" style="border: 10px; border-radius: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </a> 
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Entrons en contact</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="Votre nom...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Votre Email..." required="">
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="Tel:...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="Votre Message..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button" data-toggle="modal" data-target="#messageSent">Envoyer</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Tel:</h6>
                <span>+237 699 151 383</span>
                <span>+237 677 454 161</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span style="font-size: 12px;">skillvocational.training.instit@gmail.com</span>
              </li>
              <li>
                <h6>Localisation</h6>
                <span>Immeuble pharmacie de la Menoua</span>
              </li>
              <li>
                <h6>Suivez-Nous</h6>
                <span></span>
                <!-- Facebook -->
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16"> <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/> </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16"> <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/> </svg> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">INTITUT SKILL</h4>
      </div>
      <div class="modal-body">
        <p>Ce contenu sera disponible d'ici peu</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ok! Merci</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="messageSent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">INTITUT SKILL</h4>
      </div>
      <div class="modal-body">
        <p>Merci de nous avoir ecris. Vous recevrez une reponse d'ici peu</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ok! Merci</button>
      </div>
    </div>
  </div>
</div>





    <div class="footer">
      <p>Copyright © 2023 SKILL INSTITUT, Ltd. All Rights Reserved. 
          <br>Design: <a href="https://www.linkedin.com/in/saah-brice" target="_parent">SaahBrice</a></p>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src=" {% static 'vendor/jquery/jquery.min.js' %} "></script>
    <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

    <script src=" {% static 'assets/js/isotope.min.js' %} "></script>
    <script src=" {% static 'assets/js/owl-carousel.js' %} "></script>
    <script src=" {% static 'assets/js/lightbox.js' %} "></script>
    <script src=" {% static 'assets/js/tabs.js' %} "></script>
    <script src=" {% static 'assets/js/video.js' %} "></script>
    <script src=" {% static 'assets/js/slick-slider.js' %} "></script>
    <script src=" {% static 'assets/js/custom.js' %} "></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>